<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">
      {{titulo}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="cuscuz">

  <div class="center">

      <form [formGroup]="formCadastro" (ngSubmit)="cadastro()" novalidate>

        <ion-item lines="full">
          <ion-label position="floating"><ion-icon name="person" item-start></ion-icon>
            Nome</ion-label>
          <ion-input clear-input="true" required type="text"
          formControlName="nome"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"><ion-icon name="call" item-start></ion-icon>
            Telefone</ion-label>
          <ion-input clear-input="true" required type="tel"
          formControlName="telefone"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"><ion-icon name="mail" item-start></ion-icon>
            E-mail</ion-label>
          <ion-input clear-input="true" required type="email"
          formControlName="email"></ion-input>
        </ion-item>

        <ion-button expand="full" fill="outline"
        color="light" type="submit">Cadastrar</ion-button>

      </form>
  </div>


</ion-content>
