.center{
  height: 75vh;
  display: flex;
  align-items: top;
}

form{
  width: 100%;
  align-items: center;
}

ion-button{
  background-color: #e30e12;
}

ion-card{
  width: 100% !important;
  display: flex;
  background-color: #fff47d;
}
