<ion-header [translucent]="true">
  <ion-toolbar color="cuscuz-preto">
    <ion-title class="ion-text-center">
      Cospobres
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="cuscuz">

  <ion-list *ngIf="listaParticipantes">

    <ion-item-sliding *ngFor="let participante of listaParticipantes">

      <ion-item lines="full">

        <ion-thumbnail slot="start" (click)="setModal(true, participante.personagem, participante.imagem)">
          <img src="{{participante.imagem}}"/>
          <ion-modal [isOpen]="isModalOpen">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title class="ion-text-center">Personagem</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="setModal(false)">Fechar</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <img src="{{imagem}}"/>
                <h1 style="text-align: center;">{{personagem}}</h1>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h1>{{participante.nome}}</h1>
            <h2>{{participante.personagem}}</h2>
          </div>
        </ion-label>

      </ion-item>


    </ion-item-sliding>

  </ion-list>

</ion-content>
