<ion-header [translucent]="true">
  <ion-toolbar color="cuscuz-preto">
    <ion-title class="ion-text-center">
      <div class="title-container">
        <div class="centered-content">
          <h1 *ngIf="isCosplay">
            Cospobres
          </h1>
          <h1 *ngIf="!isCosplay">
            Cosplayers
          </h1>
          <ion-toggle [checked]="isCosplay" (ionChange)="cosplayToggleChanged($event)"></ion-toggle>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="cuscuz">
  <ion-list *ngIf="listaParticipantes">

    <ion-item-sliding *ngFor="let participante of listaParticipantes">

      <ion-item lines="full">

        <ion-thumbnail slot="start" (click)="setModal(true, participante.personagem, participante.imagem, participante.nome)">
          <img src="{{participante.imagem}}"/>
          <ion-modal [isOpen]="isModalOpen">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title class="ion-text-center">Personagem</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="setModal(false)">Fechar</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <img src="{{imagem}}"/>
                <h1 style="text-align: center;">{{personagem}}</h1>
                <form [formGroup]="formCadastroNotas" (ngSubmit)="buscaNotasEAltera()" novalidate>

                  <ion-item lines="full">
                    <ion-label position="floating">Criatividade</ion-label>
                    <ion-input clear-input="true" required type="number"
                    formControlName="criatividade"></ion-input>
                  </ion-item>
          
                  <ion-item>
                    <ion-label position="floating">Fidelidade</ion-label>
                    <ion-input clear-input="true" required type="number"
                    formControlName="fidelidade"></ion-input>
                  </ion-item>
          
                  <ion-item>
                    <ion-label position="floating">Desenvolvimento</ion-label>
                    <ion-input clear-input="true" required type="number"
                    formControlName="desenvolvimento"></ion-input>
                  </ion-item>
          
                  <ion-button expand="full" fill="outline"
                  color="red" type="submit">Cadastrar Notas</ion-button>
          
                </form>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h1>{{participante.nome}}</h1>
            <h2>{{participante.personagem}}</h2>
          </div>
        </ion-label>

        <ion-button (click)="reproduzirAudio(participante.som)">
          <ion-icon name="play"></ion-icon>
        </ion-button>
        <ion-button (click)="pausarAudio()">
          <ion-icon name="pause"></ion-icon>
        </ion-button>
        <ion-button (click)="pararAudio()">
          <ion-icon name="stop"></ion-icon>
        </ion-button>

        
        <!-- <audio controls>
          <source [src]="sanitizer.bypassSecurityTrustUrl(participante.som)" type="audio/mpeg">"
        </audio> -->

      </ion-item>


    </ion-item-sliding>

  </ion-list>

</ion-content>
